@import '../../scss/vairables';

.root {
	padding: $padding-blocks $padding-side;
	display: flex;
	justify-content: space-between;
}

.leftside {
	display: grid;
	grid-template-columns: repeat(2, 2fr);
	grid-gap: 12px;
	flex: 1;
	flex-basis: 60%;

	&__wrapper {
		height: 100%;
		position: relative;
		padding-bottom: 120%;
	}

	&__item {
		flex: 1;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}
}

.rightside {
	flex: 1;
	flex-basis: 30%;
	margin-left: 40px;

	&__title {
		max-height: 66px;
		height: 100%;
	}

	&__desc {
		max-width: 80%;
		max-height: 48px;
		height: 100%;
		margin: 12px 0;
	}

	&__price {
		max-width: 40%;
		max-height: 40px;
		height: 100%;
		margin: 12px 0 40px;
	}

	&__sizes {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-gap: 6px;
		margin-bottom: 20px;
	}

	&__size {
		height: 38px;
	}

	&__button {
		width: 100%;
		max-height: 56px;
		height: 100%;
		margin-bottom: 6px;
		span {
			border-radius: $usual-radius;
		}
	}

	&__link {
		margin-top: 10px;
		max-height: 20px;
		height: 100%;
	}
}

@media screen and (max-width: 1024px) {
	.rightside__sizes {
		grid-template-columns: repeat(3, 1fr);
	}
}
