@import '../../scss/vairables';

.root {
	height: 100%;
	position: relative;
}

.img {
	// height: 339px;

	span {
		padding-bottom: 92.5%;
	}
}

.info {
	display: flex;
	margin: 10px 0;

	&__left,
	&__right {
		flex: 1;
	}

	&__title,
	&__price {
		max-height: 24px;
		margin-bottom: 10px;
	}

	&__title,
	&__desc,
	&__price,
	&__more {
		height: 100%;
	}

	&__desc {
		max-height: 20px;
		max-width: 80%;
	}

	&__price {
		max-width: 80%;
		margin-left: auto;
	}

	&__more {
		max-height: 36px;
		max-width: 90%;
		margin-left: auto;
		border-radius: $usual-radius;
		overflow: hidden;
	}
}

@media screen and (max-width: 568px) {
	.info {
		flex-direction: column;

		&__title {
			height: 24px;
			margin-bottom: 6px;
		}

		&__desc {
			max-width: 90%;
			height: 14px;
			margin: 0 auto 6px;
		}

		&__price {
			margin: 0 auto 12px;
			height: 14px;
		}

		&__more {
			height: 22px;
			margin: 0 auto;
		}
	}
}
