@import './vairables';
@import './libs/normalize';
@import './libs/fonts';

body {
	font-size: $fz-base;
	font-weight: 500;
}

.content__area {
	padding: $padding-blocks 0;
}

.wrapper {
	max-width: $container-width;
	margin: 0 auto;
	padding: 0 $padding-side;
}

.desc {
	font-size: $fz-desc;
	margin-bottom: 20px;
}

.button {
	color: #fff;
	padding: $btn-padding;
	border-radius: $usual-radius;
	font-size: $fz-base;
	cursor: pointer;
	border: unset;
	transition: 0.15s ease;
}

.button-green {
	background-color: $brand-color;
}

.button-black {
	background-color: $black;
}

.button-black:hover {
	background-color: $brand-color;
}

.bg-black {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 100;
}

.header-banner {
	background-color: $gray-light-color;
	padding: 10px 0;
	font-size: $fz-xs;
	position: relative;
	z-index: 1000;

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__ask {
		flex: 1;
	}

	&__offer {
		flex: 1;
		text-align: center;
		line-height: 16px;

		&-sale {
			color: $brand-color;
			font-size: $fz-desc;
			font-weight: 600;
		}
	}

	&__options {
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		column-gap: 8px;
	}

	&__ask a,
	&__option a {
		transition: 0.15s ease;
	}
	&__ask a:hover,
	&__option a:hover {
		color: $brand-color;
	}
	&__option:last-of-type:after {
		content: unset;
	}
	&__option::after {
		content: '|';
		margin-left: 8px;
	}
}

.header {
	padding: 14px 0;
	background-color: #fff;
	width: 100%;
	position: sticky;
	top: 0;
	z-index: 1000;

	&__wrapper,
	&__options {
		display: flex;
		align-items: center;
		position: relative;
	}

	&__links {
		flex: 3;
		display: flex;
		column-gap: 16px;
		justify-content: center;
	}

	&__link a {
		font-weight: 400;
	}

	&__link a:hover {
		color: $brand-color;
	}

	&__link a,
	&__option {
		transition: 0.15s ease;
	}

	&__options {
		flex: 1;
		column-gap: 10px;
		justify-content: flex-end;
		position: relative;
		left: 12px;
	}

	&__option {
		cursor: pointer;
		width: 40px;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 100%;
	}
	&__option:hover {
		background-color: $gray-light-color;
	}

	&__option:hover path {
		stroke: $brand-color;
	}
}

.menu {
	position: absolute;
	top: -10px;
	left: 0;
	transform: translateY(100%);
	width: 100%;
	height: 100%;

	&__wrapper {
		padding: $padding-side $padding-side;
		background-color: #fff;
		margin-top: 24px;
		-webkit-box-shadow: 0px 20px 17px -7px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 0px 20px 17px -7px rgba(0, 0, 0, 0.2);
		box-shadow: 0px 20px 17px -7px rgba(0, 0, 0, 0.2);
	}

	&__columns {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		column-gap: 22px;
	}

	&__column img {
		max-width: 100%;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__column-title {
		margin-bottom: 16px;
	}

	&__column-links a {
		color: $gray-dark-color;
	}
}

.search {
	position: absolute;
	top: 14px;
	left: 0;
	transform: translateY(100%);
	width: 100%;
	height: 100%;
	background-color: black;

	&__wrapper {
		padding: $padding-side $padding-side;
		background-color: #fff;
	}

	&__header {
		display: flex;
		justify-content: space-between;
	}

	&__input {
		height: 40px;
		position: relative;
	}

	&__input,
	&__input input {
		width: 100%;
	}
	&__input input {
		height: 100%;
		border: 1px solid $black;
		padding: 12px 60px 12px 12px;
		border-radius: $usual-radius;
	}

	&__clear {
		position: absolute;
		top: 50%;
		right: 12px;
		transform: translateY(-50%);
		width: 19px;
		height: 19px;
	}

	&__close {
		margin-left: 14px;
	}

	&__main {
		display: flex;
		padding: $padding-side 0;
	}

	&__requests {
		max-width: 300px;
		width: 100%;
		margin-right: 30px;
	}

	&__goods {
		display: grid;
		column-gap: 20px;
		grid-template-columns: repeat(3, 1fr);
	}
}

.requests {
	&__column:first-of-type {
		margin-bottom: 30px;
	}
	&__title {
		color: $gray-dark-color;
		font-weight: 400;
		margin-bottom: 10px;
	}
	&__link {
		width: 100%;
		position: relative;
	}
	&__link:first-of-type a {
		border-top: unset;
	}
	&__link a {
		display: inline-block;
		width: 100%;
		padding: 12px 0;
		border-top: 1px solid $gray-medium-color;
		font-size: $fz-sm;
		transition: 0.15s ease;
	}
	&__link a:hover {
		color: $brand-color;
	}
	&__link:hover &__link-remove {
		opacity: 1;
		visibility: visible;
	}
	&__link-remove {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		opacity: 0;
		visibility: hidden;
		transition: 0.15s ease;
	}
	&__link-remove,
	&__link-remove svg {
		width: 12px;
		height: 12px;
	}
}

.account-dropdown {
	position: absolute;
	top: 100%;
	right: 20px;
	width: 100%;
	height: 100%;
	max-width: 320px;
	min-height: 300px;

	&__wrapper {
		background-color: #fff;
		box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
		border-radius: $small-radius;
		padding: 12px;
		width: 100%;
		height: 100%;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__row {
		margin-bottom: 4px;
	}

	&__row button {
		padding: 12px;
		width: 100%;
	}

	&__row:last-of-type button {
		border-bottom: unset;
		margin-bottom: 0;
	}

	&__row p,
	&__info {
		font-size: $fz-xs;
	}

	&__row a {
		color: $brand-color;
	}

	&__image img {
		max-width: 180px;
	}
}

.cart-dropdown {
	position: absolute;
	top: 100%;
	right: 20px;
	width: 100%;
	height: 100%;
	max-width: 320px;
	min-height: 300px;

	&__wrapper {
		background-color: #fff;
		box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
		border-radius: $small-radius;
		padding: 12px;
		width: 100%;
		height: 100%;
	}

	&__title {
		margin-bottom: 10px;
		text-align: center;
	}

	&__clear {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		text-align: center;
		padding-top: 80px;
	}

	&__link {
		margin-top: 26px;
	}
	&__close {
		position: absolute;
		top: 10px;
		right: 10px;
	}
	&__close path {
		transition: 0.15s ease;
	}
	&__close:hover path {
		stroke: $brand-color;
	}
}

.logo {
	flex: 1;
	height: 40px;
}

.banner {
	&__image img {
		max-width: 100%;
		width: 100%;
	}

	&__info {
		margin-top: 28px;
		text-align: center;
	}

	&__text {
		max-width: 660px;
		margin: 10px auto 20px;
	}

	&__btns {
		display: flex;
		justify-content: center;
		column-gap: 6px;
	}
}

.products {
	padding: $padding-blocks 0;
	&__area {
		position: relative;
		padding: 0;
	}
}

.slider {
	&__wrapper {
		padding: 0 $padding-side !important;
		position: unset !important;
	}
	&__image img {
		width: 100%;
		height: 100%;
	}
}

.product {
	&__item {
		position: relative;
	}
	&__item:hover &__favorite,
	&__item:hover &__view,
	&__item:hover &__sizes {
		opacity: 1;
		visibility: visible;
	}
	&__image img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&__info {
		display: flex;
		justify-content: space-between;
		margin: 14px 0;
	}
	&__desc {
		margin-top: 4px;
		color: $gray-dark-color;
	}
	&__rightside {
		display: flex;
		flex-direction: column;
		row-gap: 14px;
		text-align: right;
	}
	&__favorite {
		right: 14px;
	}
	&__favorite,
	&__view {
		top: 14px;
		position: absolute;
		cursor: pointer;
		opacity: 0;
		visibility: hidden;
		transition: 0.15s ease;
	}
	&__favorite path,
	&__view path {
		transition: 0.15s ease;
	}
	&__favorite:hover path,
	&__view:hover path {
		stroke: $brand-color;
	}
	&__view {
		right: 20px;
		transform: translateX(-100%);
	}
	&__content {
		position: relative;
	}
	&__sizes {
		position: absolute;
		bottom: 10px;
		left: 10px;
		display: flex;
		column-gap: 2px;
		opacity: 0;
		visibility: hidden;
		transition: 0.15s ease;
	}
	&__size {
		background-color: $gray-medium-color;
		border-radius: 100%;
		width: 32px;
		height: 32px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: $fz-xs;
	}
}

.swiper-button-prev,
.swiper-button-next {
	width: 44px;
	height: 44px;
	background-color: $gray-medium-color;
	border-radius: 100%;
	position: absolute;
	transition: 0.15s ease;
	cursor: pointer;
	z-index: 10;
	top: -6px;
}

.swiper-button-next {
	right: 22px;
}
.swiper-button-prev {
	right: 32px;
	transform: translateX(-100%);
}

.swiper-button-prev::after,
.swiper-button-next::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-size: contain;
	background-repeat: no-repeat;
	width: 10px;
	height: 20px;
}

.swiper-button-next::after {
	background-image: url('../../public/img/arrow-r.svg');
}

.swiper-button-prev::after {
	background-image: url('../../public/img/arrow-l.svg');
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
	background-color: $brand-color;
}

.swiper-button-disabled:hover {
	background-color: $gray-medium-color;
}

.swiper-button-disabled {
	opacity: 0.5;
	cursor: unset;
}

.essentials {
	&__wrapper {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: 22px;
	}

	&__column {
		position: relative;
	}

	&__column:hover &__title {
		color: $brand-color;
	}

	&__image img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__title {
		position: absolute;
		bottom: 30px;
		left: 30px;
		background-color: #fff;
		border-radius: $usual-radius;
		padding: $btn-padding;
	}
}

.footer {
	background-color: $black;
	color: $gray-dark-color;

	&__wrapper {
		display: flex;
		justify-content: space-between;
	}

	&__wrapper-bottom {
		align-items: center;
		margin-top: 68px;
	}

	&__columns {
		display: flex;
		column-gap: 60px;
	}

	&__column {
		max-width: 180px;
	}

	&__rules,
	&__links {
		display: flex;
	}

	&__links {
		column-gap: 6px;
	}

	&__link a {
		width: 40px;
		height: 40px;
		border-radius: $usual-radius;
		background-color: $gray-dark-color;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: 0.15s ease;
	}

	&__link a:hover {
		background-color: $brand-color;
	}

	&__copyright span {
		font-weight: 600;
	}

	&__rules {
		column-gap: 12px;
	}

	&__rules a {
		transition: 0.15s ease;
	}

	&__rules a:hover {
		color: $brand-color;
	}
}

.column {
	&__title {
		color: #fff;
		margin-bottom: 16px;
	}

	&__links {
		display: flex;
		flex-direction: column;
		row-gap: 8px;
	}

	&__link a {
		color: $gray-dark-color;
		transition: 0.15 ease;
	}
	&__link a:hover {
		color: $brand-color;
	}
}
