@import '../../scss/vairables';

.root {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 160px 0;
	position: relative;
}

.title {
	font-size: $fz-title;
}

.desc {
	color: $gray-dark-color;
}

.img {
	position: absolute;
	top: 50%;
	left: 66%;
	transform: translateY(-50%);
	z-index: -1;

	svg {
		max-width: 320px;
	}
}
