.root {
	display: block;
	padding: 0 0 100px;
}

.poster {
	height: 100%;
	span {
		padding-bottom: 200px;
	}
}

.desc {
	margin: 14px 0 10px;
	height: 100%;
	max-height: 26px;
}

.title {
	height: 100%;
	max-height: 40px;
}
